{% extends 'base.html.twig' %}

{% block title %}Pagina Personală{% endblock %}

{% block body %}
    <div class="personal-page">
        <img src="{{ asset('images/Rusu.jpg') }}" alt="Profil" class="profile-image">
        <div class="text-content">
            <h1>{{ name }}</h1>
            <p>Sunt un pasionat de tehnologie și programare, cu experiență în dezvoltarea web.</p>
            <p>Îmi place să explorez noi tehnologii și să construiesc aplicații eficiente și scalabile.</p>
            <p>În timpul liber, îmi place să citesc, să călătoresc și să experimentez cu proiecte open-source.</p>

            <h2>Interese:</h2>
            <ul>
                <li>Programare web</li>
                <li>Inteligență artificială</li>
                <li>Proiecte open-source</li>
            </ul>
        </div>
    </div>
{% endblock %}
